form {
    min-height: 250px;
    padding: 32px;
	display: flex;
	flex-direction: column;
	background-color: black;
	border-radius: 8px;
	min-width: 400px;
	align-items: center;
	justify-content: space-between;
    margin: 24px;
	box-shadow: 0 5px 5px rgb(255, 0, 0);
	border-radius: 12px;
}

label {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 16px;
}

textarea {
	min-height: 120px;
    border-radius: 12px;
    width: 100%;
}

.TodoForm-buttonContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    padding: 16px;
    width: 80%;
}

.TodoForm-button--add {
	background-color: #4caf50;
	border: 2px solid #4caf50;
    box-shadow: 0 5px 5px rgb(7, 247, 87);
	color: #ffffff;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
	border-radius: 12px;
}

.TodoForm-button--add:hover{
    cursor: pointer;
    color: #000000;
}


.TodoForm-button--cancel {
	background-color: #ff1500;
    border: 2px solid #ff1500;
	box-shadow: 0 5px 5px rgb(238, 64, 64);
	color: #ffffff;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
	border-radius: 12px;
}

.TodoForm-button:hover{
    cursor: pointer;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    background-color: #ffffff;
}
